In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../output/reduced_train_categorical.csv.gz", index_col=0)

In [8]:
df.groupby("L0_S1_F25").sum()

,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S4_F105,L0_S4_F107,L0_S4_F108,L0_S4_F110,L0_S4_F112,...,L3_S43_F4064,L3_S43_F4081,L3_S43_F4084,L3_S44_F4102,L3_S46_F4134,L3_S47_F4141,L3_S49_F4207,L3_S49_F4210,L3_S49_F4217,L3_S49_F4220
L0_S1_F25,,,,,,,,,,,,,,,,,,,,,
1.0,225.0,25.0,225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN