L3_S32_F3854 における 1.0 の割合

In [ ]:
# ライブラリの皆さん
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.metrics import matthews_corrcoef, roc_auc_score
from sklearn.cross_validation import cross_val_score, StratifiedKFold
import matplotlib.pyplot as plt
import time
import re
import seaborn as sns
%matplotlib inline

In [2]:
def L3(date):
    columns = [c for c in date.columns if "L3" in c]
    date = date.loc[:,columns]
    return date

In [3]:
date = pd.read_hdf("../hdf/train_date.hdf")
date = L3(date)

In [4]:
categorical = pd.read_hdf("../hdf/train_categorical.hdf")
categorical = L3(categorical)

In [5]:
numeric = pd.read_hdf("../hdf/train_numeric.hdf")
numeric = L3(numeric)

In [7]:
response = pd.read_hdf("../hdf/train_response.hdf")

In [9]:
L3_S32_F3854 = categorical[["L3_S32_F3854"]]

In [11]:
L3_S32_F3854 = pd.concat([L3_S32_F3854, response], axis=1)

In [17]:
r1=pd.DataFrame(L3_S32_F3854[L3_S32_F3854["Response"] == 1.0]["L3_S32_F3854"].value_counts()).rename(columns={"L3_S32_F3854":"1.0"})

In [18]:
r0=pd.DataFrame(L3_S32_F3854[L3_S32_F3854["Response"] == 0.0]["L3_S32_F3854"].value_counts()).rename(columns={"L3_S32_F3854":"0.0"})

In [20]:
df = pd.concat([r0, r1], axis=1)

In [21]:
df["ratio"] = df["1.0"] / (df["0.0"] + df["1.0"])

In [22]:
df

                0.0    1.0     ratio
-2.147484e+09   627    2.0  0.003180
-2.147483e+09   384    2.0  0.005181
-2.147483e+09   363    1.0  0.002747
-2.147482e+09   371    4.0  0.010667
-2.147482e+09     1    NaN       NaN
-2.147482e+09    34    NaN       NaN
-2.147487e+07   115    NaN       NaN
-2.147482e+07    12    NaN       NaN
-2.147482e+07     5    NaN       NaN
 1.000000e+00   516    1.0  0.001934
 2.000000e+00  3469  667.0  0.161267
 4.000000e+00   516  156.0  0.232143
 8.000000e+00  2772   15.0  0.005382
 1.600000e+01  3350  159.0  0.045312
 2.400000e+01     2    NaN       NaN
 3.200000e+01     6    NaN       NaN
 4.800000e+01   521   35.0  0.062950
 6.400000e+01     1    NaN       NaN
 1.280000e+02  4497   31.0  0.006846
 2.560000e+02  1243    5.0  0.004006
 4.920000e+02     4    NaN       NaN
 5.120000e+02  1470    9.0  0.006085
 1.152000e+03   103    NaN       NaN
 1.310000e+03    26    NaN       NaN
 1.651200e+04     3    NaN       NaN
 3.289600e+04    37    NaN       NaN
 3.699200e+04    38    NaN       NaN
 5.542400e+04     1    NaN       NaN
 6.361600e+04     2    NaN       NaN
 6.553600e+04     6    NaN       NaN